.articleWrapper {
    padding: 1rem;
    min-width: 85%;
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
}

@media screen and (max-width: 375px) {
    .articleWrapper {
        width: 90%;
    }
}

.meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.meta span {
    color: #BEBEBE;
}

.meta>span {
    color: var(--lightestOrange);
}

.title {
    font-size: 27pt;
    color: white;
    margin-bottom: .5rem;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 20pt;
    }
}

.subtitle {
    padding: 1rem;
    margin: .5rem 0;
    margin-bottom: 2.5rem;
    font-size: 16pt;
    color: rgb(201, 198, 198);
    border-radius: 3px;
}

.edits {
    margin: .25rem;
    margin-left: 0;
}

.edits span {
    margin: 0;
    color: rgb(214, 214, 214) !important;
    font-style: italic;
    width: fit-content;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400 !important;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    background-color: #3B274F;
    border-radius: 9px;
    padding: .1rem 1rem;
    color: #A96FE2;
    width: fit-content;
    height: fit-content;
    margin-right: .5rem;
}

.tag:last-child {
    margin-right: 0;
}

.content {
    display: flex;
    font-size: 19pt;
    hyphens: auto;
    word-wrap: break-word;
    padding: 0 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    text-align: left;
    flex-direction: column;
}

@media screen and (max-width:786px) {
    .content {
        font-size: 15pt;
    }
}