.roboto {
    font-family: 'Roboto Flex', sans-serif;
    font-optical-sizing: auto;
}
.roboto-thin {
    font-weight: 100;
}
.roboto-light {
    font-weight: 300;
}
.roboto-medium {
    font-weight: 500;
}
.roboto-bold {
    font-weight: 700;
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
.roboto-mono-thin {
    font-weight: 100;
}
.roboto-mono-light {
    font-weight: 300;
}

.rubik-mono-one {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
}

.vollkorn {
    font-family: "Vollkorn", serif;
    font-weight: 400;
}