.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 4rem 3rem;
}

.footer h1 {
    margin: 0;
}

.footer h3 {
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 0;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.subLinks {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}

.subLinks:last-of-type {
    margin-right: 0;
}

.subLinks span {
    font-family: "Roboto Flex", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.subLinks a {
    margin-bottom: .5rem;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: rgb(233, 233, 233);
}

.subLinks a:last-child {
    margin-bottom: 0;
}


@media screen and (max-width: 768px) {
    .footer {
        padding: 1rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .footer h1 {
        font-size: 14px;
    }
}