
::selection {
    background-color: white;
    color: black;
}

html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
}

::-webkit-scrollbar {
    width: .35rem;
    height: .5rem;
    background-color: #1c1226 !important;
    border-radius: 3px;
}


::-webkit-scrollbar {
    background-color: #3e2659;
}


body::-webkit-scrollbar {
    border-radius: 0;
}
 
 
::-webkit-scrollbar-thumb {
    background-color: #654886;
    border-radius: 3px;
}

#articleView ::-webkit-scrollbar {
    background-color: #3e2659;
}
