#searchTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchTitle h1 {
    font-size: 2.5em;
    color: #fff;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 700;
}

#searchView #latest_articles {
    gap: 1rem !important;
}

.searchViewWrapper  {
    margin-bottom: 1.5rem;
    width: 100% !important;
}

.searchViewWrapper  form {
    justify-content: center !important;
}

.searchViewWrapper input {
    height: 3rem !important;
    border-radius: 3px !important;
    width: 70%;
    border: solid 1px #13081e;
}

.searchViewWrapper input:focus-visible {
    border-color: var(--lightestOrange);
}