.sidenav {
    position: fixed;
    z-index: 23;
    right: 0;
    height: 100%;
    top: 0;
    width: 0;
    background: rgb(247,171,60);
    background: linear-gradient(180deg, #763bb1 0%, #4e178b 100%);
    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.196);
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
}

.navbar {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
    width: 100%;
    height: 5rem;
    backdrop-filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.navbar h1 {
    margin: 0;
    margin-left: 2rem;
    font-size: 18pt;
}

.navbar h1:hover {
    color: var(--lightestOrange);
}

@media screen and (max-width: 768px) {
    .navbar h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 250px) {
    .navbar h1 {
        display: none;
    }
}

.sidenav a {
    width: 100%;
    margin: 0 !important;
}

#sidebar > .react-ripples {
    width: 218px !important;
    margin: 0 !important;
    margin-bottom: .75rem !important;
}

.sidenav > span {
    color: white !important;
    width: 85%;
    font-size: 23pt;
    cursor: pointer;
    transition: transform .1s;
    z-index: 28;
}

.sidenav span svg {
    transition: all 1s;
}

.sidenav span svg:hover {
    transform: rotate(-720deg);
}

.sidenav .disabled {
    color: white;
    background-color: rgba(0, 0, 0, 0.057);
}

#navbarOpener {
    opacity: 1;
    position: fixed;
    z-index: 4;
    right: 2rem;
    font-size: 2rem;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#navbarOpener:hover {
    color: white;
    transform: skew(-5deg, -5deg);
}

#searchWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items:  center;
    flex-wrap: wrap;
    height: 60px;
    width: 218px;
    z-index: 25 !important;
}

#searchOverlay {
    width: 87%;
    background-color: black;
    z-index: 24;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    padding-top: 12rem;
    min-height: 100%;
}

.searchOverlayActive {
    display: flex !important;
}

#searchOverlay div {
    margin-top: 0 !important;
}

#searchOverlay {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

#searchOverlay h1 {
    margin: 0;
    font-size: 1.5rem;
    white-space: break-spaces;
}